.step3 {
    margin-top: 20px;
    margin-bottom: 150px;
}

.para-left {
    padding: 10px 0;
    font-size: 13px;
    font-weight: 400;
}

.box-panel h5 {
    color: #000;
}

.box-panel {
    border-radius: 5px;
    background: #fefefe;
    -webkit-box-shadow: 0 1px 4px 1px #b4b6a9, 2px 2px 1px 0 white inset;
    -moz-box-shadow: 0 1px 4px 1px #b4b6a9, 2px 2px 1px 0 white inset;
    box-shadow: 0 1px 4px 1px #b4b6a9, 2px 2px 1px 0 white inset;
    padding: 20px;
}

.privacy.box-panel {
    border-radius: 5px;
    background: #f7f7f7;
    -webkit-box-shadow: 0 1px 4px 1px #b4b6a9, 2px 2px 1px 0 white inset;
    -moz-box-shadow: 0 1px 4px 1px #b4b6a9, 2px 2px 1px 0 white inset;
    box-shadow: 0 1px 4px 1px #b4b6a9, 2px 2px 1px 0 white inset;
    padding: 20px;
}

#step-image.on-step-3 {
    background-position: 50% 67%;
}

.form-control {
    border-radius: 0;
    border-bottom: 2px solid #00adcc;
}

.toggle .btn-light:not(:disabled):not(.disabled).active,
.toggle .btn-light:not(:disabled):not(.disabled):active,
.toggle .show>.toggle .btn-light.dropdown-toggle {
    color: #ffffff;
    background-color: #ff9900;
    border-color: #ff9900;
}

.toggle .btn-light {
    background-color: #ffffff;
    border-color: #ffffff;
    border: 1px solid #ff9900;
}

.depend1 .fa-plus-circle {
    font-size: 24px;
    color: #00ADCC;
}

.depend1 .header {
    font-size: 1.25rem;
}

.depend2 {
    font-size: 13px;
}