<lib-header [heading]="'Tokio Marine Model View'"></lib-header>
<div *ngIf="showSelection" style="margin-left: 5%">
  <mat-form-field>
      <mat-label>Models</mat-label>
      <mat-select>
          <mat-option *ngFor="let model of selections" [value]="model.value" (onSelectionChange)="loadModel($event)">
              {{model.label}}
          </mat-option>
      </mat-select>
  </mat-form-field>
</div>
<div *ngIf="!showSelection" class="mat-elevation-z8 table-width">
  <h4 style="color: blue; margin-left: 3%"><strong>{{model}}</strong></h4>
  <lib-table [data]="data" [allColumnNames]="allColumnNames" [selectedColumns]="selectedColumns" [model]="model"></lib-table>
  <button mat-button (click)="showSelection = true">Back</button>
</div>
